﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Boeking Systeem</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/fullcalendar.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="Content/ngDialog-theme-plain.css" rel="stylesheet" />
    <link href="Content/ngDialog.css" rel="stylesheet" />
</head>
<body data-ng-app="BookingSysApp">
    <div data-ng-controller="indexController">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Boeking Systeem</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/reservations">Reserveringen</a></li>
                        <li><a href="#/new">Nieuwe reservering</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="authentication.userName"><a href="#">{{authentication.userName}}</a></li>
                        <li ng-if="authentication.userName"><a href="#" data-ng-click="logOut()"><span class=" glyphicon glyphicon-log-out"></span>Uitloggen</a></li>
                        
                        <li ng-if="!authentication.userName"><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Registreren</a></li>
                        <li ng-if="!authentication.userName"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Inloggen</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div data-ng-view=""></div>
    </div>
    <hr />
    <div id="footer">
        <div class="container">
            <p class="text-muted">Created by Cas de Reuver</p>
        </div>
    </div>
    <div id="loaderdiv" data-ng-show="loading">
        <img src="Content/Images/ajax-loader.gif" class="ajax-loader" />
    </div>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/Calendar/gcal.js"></script>
    <script src="Scripts/Calendar/moment.js"></script>
    <script src="Scripts/Calendar/fullcalendar.js"></script>
    <script src="Scripts/AngularJs/angular.js"></script>
    <script src="Scripts/AngularJs/angular-route.js"></script>
    <script src="Scripts/AngularJs/angular-loader.js"></script>
    <script src="Scripts/AngularJs/angular-local-storage.js"></script>
    <script src="Scripts/AngularJs/calendar.js"></script>
    <script src="Scripts/AngularUI/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="Scripts/AngularJs/ngDialog.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/controllers/indexController.js"></script>
    <script src="/app/controllers/loginController.js"></script>
    <script src="/app/controllers/signupController.js"></script>
    <script src="/app/controllers/reservationController.js"></script>
    <script src="/app/controllers/newReservationController.js"></script>
    <script src="/app/services/authService.js"></script>
    <script src="/app/services/reservationService.js"></script>
    <script src="/app/services/authInterceptorService.js"></script>
    <script src="/app/services/typeService.js"></script>
    <script src="/app/services/propertyService.js"></script>
</body>
</html>
