﻿<form role="form">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="form-login-heading">Inloggen</h2>
            <input type="text" class="form-control" placeholder="Gebruikersnaam" data-ng-model="loginData.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Wachtwoord" data-ng-model="loginData.password" required>
            <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </div>
    </div>
</form>
