﻿<div>
    <h2>Booking System</h2>
    <input hidden="" ng-model="reservationDetail.id" />
    <label>Gereserveerd door: <span>{{reservationDetail.createBy}}</span></label>
    <br/>
    <label>Tijd: <span>{{reservationDetail.time}}</span></label>
    <br/>
    <label>Type: <span>{{reservationDetail.typeName}}</span></label>
    <textarea id="comment" ng-model="reservationDetail.comments" style="width: 100%; height:100px"></textarea>
    <div class="ngdialog-buttons">
        <button type="button" ng-show="reservationDetail.canReject" class="ngdialog-button ngdialog-button-primary" ng-click="updateStatus(reservationDetail.id,reservationDetail.comments,'RejectAction');closeThisDialog(0)">Afwijzen</button>
        <button type="button" ng-show="reservationDetail.canApprove" class="ngdialog-button ngdialog-button-primary" ng-click="updateStatus(reservationDetail.id,reservationDetail.comments,'ApproveAction');closeThisDialog(0)">Accepteren</button>
        <button type="button" ng-show="reservationDetail.canCancel" class="ngdialog-button ngdialog-button-primary" ng-click="updateStatus(reservationDetail.id,reservationDetail.comments,'CancelAction');closeThisDialog(0)">Annuleren</button>
    </div>
</div>
