﻿<form role="form">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Aanmelden</h2>
            <input type="text" class="form-control" placeholder="Gebruikersnaam" data-ng-model="registration.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Wachtwoord" data-ng-model="registration.password" required>
            <input type="password" class="form-control" placeholder="Confirmeer wachtwoord" data-ng-model="registration.confirmPassword" required>
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Aanmelden</button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
</form>